@{
    ViewBag.Title = "Home Page";
}
<script src="~/scripts/homeindexscript.js"></script>
<div ng-app="main_app">
    <!-- Left col -->
    <section class="col-lg-3 connectedSortable" id="main_col_3_left"></section><!-- /.Left col -->
    <!--Miiddle collums-->
    <section class="col-lg-6 connectedSortable" ng-controller="modulecontroller as controller" id="main_col_6" ng-init="controller.init()"></section>
    <!--Miiddle collums-->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-3 connectedSortable" id="main_col_3_right">
    </section><!-- right col -->
</div>

